/* Style your dropdown below! */
.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: "Open Sans", helvetica, sans-serif;
  }
  #dropDown {
    display: none;
  }
#toggle {
    background-color: aquamarine;
    padding: 15px;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #ffff;
}
img {
    width: 18px;
    
}